
*{
  margin:0px;
  padding:0px;
}
body{
  background-color: #fff9ed;
}
header{
  width: 100%;
  position: sticky;
  top:0px;
 padding:10px;
  text-align: center;
  background-color: #fff9ed;
  margin: 0%;
}
.menu{
  max-width: 40px;
  position:absolute;
  top:7px;
  left:20px;
}
.cart{
  max-width: 40px;
  position:absolute;
  right:40px;
  top:7px;
}
.account{
  max-width: 38px;
  top:9px;
  position:absolute;
  right:80px;
}
.logo{
  left:42.5%;
  top:0px;
  max-width: 50px;
  position: absolute;
}
header h1{
  color:#470500;
  display:inline-block;
  font-weight: 100;
}
.content h2{
  margin-top:230px;
  color:#fff9ed;
  font-size: 50px;
  font-weight: 500;
  font-family: Bauer Bodoni,serif;
}
.wrap{
  left:0;
  right: 0;
  overflow: hidden;
  position: relative;
  height:500px;
  text-align: center;
  margin: 0;
  background-color: black;

}
.bg{
  opacity: 0.7;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  margin: 0;
}
.content{
  vertical-align: center;
  position:relative;
  
}
.photos{
  display: inline-flexbox;
  align-items: center;
}
.photos img{
  display:inline-block;
  max-height: 500px;
  margin:30px;
}
main{
  text-align: center;
  font-family:Bauer Bodoni,serif;
  font-size: 30px;
  
}
main h2{
  font-size: 30px;
  font-weight: 100;
  color:#956b4a;
  margin-top:40px;
}
footer{
  height:300px;
  background-color: #956b4a;
  color:#470500;
  text-align: center;
}
footer h2{
  font-size: 50px;
  padding-top:40px;
}
